div{margin: auto;}

table {margin:auto; border-collapse:collapse; table-layout: fixed}
td {text-align: center; font-size: larger; width: 50px; height: 50px}
table, th, td {border: 2px solid black;}

*{padding: 0; border: 0; text-align: center}
.options{margin: auto}

td.grid:first-child {
    border-left:3px solid;
}
td.grid:nth-child(3n) {
    border-right:3px solid ;
}
tr.grid:first-child {
    border-top:3px solid;
}
tr.grid:nth-child(3n) td {
    border-bottom:3px solid ;
}

div.dif {width: 60%; margin: auto}
/*button {*/
/*    margin: auto;*/
/*    display: block;*/
/*}*/